sudo: required

language: csharp

cache:
  directories:
    - $HOME/cache

services:
  - docker

before_install:
  - openssl aes-256-cbc -K $encrypted_1fc90f464345_key -iv $encrypted_1fc90f464345_iv -in id_rsa.enc -out id_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 id_rsa
  - ssh-add id_rsa

script:
  - docker build -t webapp:test -f ./dockerfile/test .
  - docker run -it --rm -v $PWD/publish:/root/publish -v $PWD/packages:/root/.nuget/packages webapp:test
  - scp -o StrictHostKeyChecking=no ./scripts/getReleaseFromDockerHubAndStart.sh u1462507@159.203.33.172:~/
  - ssh u1462507@159.203.33.172 "chmod +x getReleaseFromDockerHubAndStart.sh"
  - ssh u1462507@159.203.33.172 "sh getReleaseFromDockerHubAndStart.sh"

after_success:
  - docker tag webapp:release kynnai/webapp:release
  - docker login -u=kynnai -p=$mdpDockerHub
  - docker push kynnai/webapp:release