sudo: required

language: csharp

cache:
  directories:
    - $HOME/cache

services:
  - docker

before_install:
  - openssl aes-256-cbc -K $encrypted_1fc90f464345_key -iv $encrypted_1fc90f464345_iv -in id_rsa.enc -out id_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 id_rsa
  - ssh-add id_rsa

script:
  - docker build -t webapp:test -f ./dockerfile/test .
  - docker run -it --rm -v $PWD/publish:/root/publish -v $PWD/cache:/root/.nuget/packages webapp:test
  - sudo docker build -t webapp:release -f ./dockerfile/release .
  - docker tag webapp:release kynnai/webapp:release
  - docker login -u=$DOCKER_HUB_USERNAME -p=$DOCKER_HUB_PASSWORD
  - docker push kynnai/webapp:release
  - scp -o StrictHostKeyChecking=no ./scripts/getReleaseFromDockerHubAndStart.sh 159.203.33.172:~/
  - ssh 159.203.33.172:6521 "chmod +x getReleaseFromDockerHubAndStart.sh"
  - ssh 159.203.33.172:6521 "sh getReleaseFromDockerHubAndStart.sh"

