sudo: required

language: csharp

cache:
  directories:
    - $HOME/cache

services:
  - docker

before_install:
  - openssl aes-256-cbc -K $encrypted_1fc90f464345_key -iv $encrypted_1fc90f464345_iv -in id_rsa.enc -out id_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 id_rsa
  - ssh-add id_rsa

script:
  - sh ./scripts/travisCI.sh